<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="EapartmentsConnectionString" connectionString="Data Source=LAPTOP-JDO92P0U\SQLEXPRESS02;Initial Catalog=EApartments;Integrated Security=True"
   providerName="System.Data.SqlClient;" />
  <add name="Eapartments.Properties.Settings.EApartmentsConnectionString"
   connectionString="Data Source=LAPTOP-JDO92P0U\SQLEXPRESS02;Initial Catalog=EApartments;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>